<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="/header :: nav"></div>

<hr style="border-color:black;"/>

<div class="bg-gray-50 font-[sans-serif]">
    <div class="grid h-full gap-4 lg:grid-cols-2 xl:grid-cols-3">
        <div class="bg-white lg:sticky lg:top-0 lg:h-screen">
            <div class="relative h-full">
                <div class="p-8 lg:h-[calc(100vh-60px)] lg:overflow-auto">
                    <h2 class="text-2xl font-bold text-black">Order Summary</h2>
                    <div class="mt-10 space-y-6" th:each="item : ${order.items}">
                        <div class="grid items-start gap-6 sm:grid-cols-2">
                            <div class="shrink-0 rounded-md bg-gray-50 px-4 py-6">
                                <img th:src="@{'/' + ${item.imageUrl}}" src="" class="w-full object-contain" th:alt="${item.description}" alt=""/>
                            </div>
                            <div>
                                <h3 class="text-base text-black"  th:text="${item.title}">Naruto: Split Sneakers</h3>
                                <ul class="mt-4 space-y-3 text-xs text-black">
                                    <li class="flex flex-wrap gap-4"  th:text="'Quantity:' + ${item.quantity}" >Quantity <span class="ml-auto">2</span></li>
                                    <li class="flex flex-wrap gap-4"  th:text="'Price:' + ${item.price}*${item.quantity}">Total Price<span class="ml-auto">$40</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 w-full bg-[#444] p-4">
                    <h4 class="flex flex-wrap gap-4 text-base text-white" th:text="${order.price}">Total <span class="ml-auto">$84.00</span></h4>
                </div>
            </div>
        </div>
        <div class="sticky top-0 h-max rounded-md p-8 xl:col-span-2">
            <h2 class="text-2xl font-bold text-[#333]">Complete your order</h2>
            <form class="mt-10" action="/checkout" method="post">
                <div>
                    <h3 class="mb-6 text-lg font-bold text-[#333]">Personal Details</h3>
                    <div class="grid gap-6 sm:grid-cols-2">
                        <div class="relative flex items-center">
                            <input th:value="${customer.name}" name="name" type="text" placeholder="Name" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="absolute right-4 h-[18px] w-[18px]" viewBox="0 0 24 24">
                                <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                                <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z" data-original="#000000"></path>
                            </svg>
                        </div>
                        <div class="relative flex items-center">
                            <input th:value="${customer.email}" name="email" type="email" placeholder="Email" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="absolute right-4 h-[18px] w-[18px]" viewBox="0 0 682.667 682.667">
                                <defs>
                                    <clipPath id="a" clipPathUnits="userSpaceOnUse">
                                        <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                                    <path fill="none" stroke-miterlimit="10" stroke-width="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
                                    <path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="relative flex items-center">
                            <input  th:value="${customer.phone}"  name="phone" type="number" placeholder="Phone No." class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />

                            <svg fill="#bbb" class="absolute right-4 h-[18px] w-[18px]" viewBox="0 0 64 64">
                                <path d="m52.148 42.678-6.479-4.527a5 5 0 0 0-6.963 1.238l-1.504 2.156c-2.52-1.69-5.333-4.05-8.014-6.732-2.68-2.68-5.04-5.493-6.73-8.013l2.154-1.504a4.96 4.96 0 0 0 2.064-3.225 4.98 4.98 0 0 0-.826-3.739l-4.525-6.478C20.378 10.5 18.85 9.69 17.24 9.69a4.69 4.69 0 0 0-1.628.291 8.97 8.97 0 0 0-1.685.828l-.895.63a6.782 6.782 0 0 0-.63.563c-1.092 1.09-1.866 2.472-2.303 4.104-1.865 6.99 2.754 17.561 11.495 26.301 7.34 7.34 16.157 11.9 23.011 11.9 1.175 0 2.281-.136 3.29-.406 1.633-.436 3.014-1.21 4.105-2.302.199-.199.388-.407.591-.67l.63-.899a9.007 9.007 0 0 0 .798-1.64c.763-2.06-.007-4.41-1.871-5.713z" data-original="#000000"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <h3 class="mb-6 text-lg font-bold text-[#333]">Shipping Address</h3>
                    <div class="grid gap-6 sm:grid-cols-2">
                        <input th:value="${address.address}" type="text" name="address" placeholder="Address Line" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                        <input th:value="${address.city}" type="text" name="city" placeholder="City" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                        <input th:value="${address.state}" type="text" name="state" placeholder="State" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                        <input th:value="${address.zip}" type="text" name="zip" placeholder="Zip Code" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                    </div>
                    <h3 class="mt-6 mb-6 text-lg font-bold text-[#333]">Credit Card</h3>
                    <div class="grid gap-6 sm:grid-cols-2">
                        <input th:value="${card.number}" type="text" name="number" placeholder="XXXX  XXXX  XXXX  XXXX" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                        <input th:value="${card.MY}" type="text" name="MY" placeholder="MM / YY" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                        <input th:value="${card.cvv}" type="text" name="cvv" placeholder="CVV" class="w-full border-b-2 bg-white px-4 py-3.5 text-sm text-[#333] outline-none focus:border-[#333]" />
                    </div>
                    <div class="mt-10 flex gap-6 max-sm:flex-col">
                        <input type="submit"  name="cancel"  value="Cancel" class="w-full rounded-md border-2 bg-transparent px-6 py-3 text-sm font-semibold text-[#333] hover:bg-gray-100"/>
                        <input type="submit" name="complete" value="Complete Purchase" class="w-full rounded-md bg-[#333] px-6 py-3 text-sm font-semibold text-white hover:bg-[#222]" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr style="border-color:black;"/>
<div th:replace="/footer :: footer"></div>

</body>
</html>